.RivCanvas {
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.RivCanvas__canvas {
  position: relative;
  left: -2px;
  top: -2px;
  background-color: transparent;
  border: none;
}
