.BattleControlPanel {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.BattleControlPanel__enemy {
  position: absolute;
  top: 18px;
  max-width: 430px;
  width: 100%;
}

.BattleControlPanel__player {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.BattleControlPanel__addItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.BattleControlPanel__shopItems {
 max-width: 32px;
}

.BattleControlPanel__score {
  font-size: 14px;
  text-align: center;
  color: #F9EB21;
}

.BattleControlPanel__row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 430px;
}

.BattleControlPanel__row + .BattleControlPanel__row {
  margin-top: -8px;
}

@media (min-width: 501px) and (max-height: 667px) {
  .BattleControlPanel {
    transform: scale(0.8);
  }
}


