.BattleInitMember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-family: "Exo 2";
  line-height: 1.1;
  text-align: center;
}

.BattleInitMember__header {
  padding: 12px;
}

.BattleInitMember__wallet {
  color: #ffffff;
  margin: 12px 0;
  font-size: 12px;
  opacity: 0.5;
}

.BattleInitMember__name {
  color: #ffd900;
  font-size: 30px;
}

.BattleInitMember__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  /* color: #EA1C24; */
  color: #ffffff;
  /* font-size: 21px; */
  font-size: 40px;
}

.BattleInitMember__footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.BattleInitMember__race {
  width: calc(50% - 70px);
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  font-family: "Exo 2";
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}


.BattleInitMember.is-reflected {
  flex-direction: column-reverse;
}

.BattleInitMember.is-reflected .BattleInitMember__header {
  display: flex;
  flex-direction: column-reverse;
}

.BattleInitMember.is-reflected .BattleInitMember__body {
  /* color: #39B24A; */
  color: #ffffff;
}

.BattleInitMember.is-reflected .BattleInitMember__footer {
  justify-content: flex-start;
}
