.star-panel {
  --under-layer: -1;
  --main-layer: 0;
  --star-layer: 3;
  --info-layer: 2;
  --race-layer: 1;

  --panel-width: 794px;
  --panel-height: 452px;

  --info-key-color: #ffff00;
  --info-value-color: #fff;
  --race-name-color: #ffff00;
  --race-description-color: #fff;

  display: flex;
  align-items: center;
  width: var(--panel-width);
  height: var(--panel-height);
  position: absolute;
  left: calc(50% - var(--panel-width) / 2);
  top: calc(50% - var(--panel-height) / 2);
  z-index: var(--main-layer);
}

.star-panel .is-selectable {
  pointer-events: all;
}

.star-panel__info {
  width: 290px;
  height: 308px;
  margin-right: -84px;
  position: relative;
  z-index: var(--info-layer);
}

.star-panel__info-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 76px;
  padding: 14px 26px 16px;
  padding-right: 80px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.star-panel__info-row + .star-panel__info-row {
  margin-top: 1px;
}

.star-panel__info-row.is-heading {
  padding-left: 36px;
  left: 10px;
  background-image: url('../gui/images/star-panel/info-row-1-insects.png');
}

.star-panel__info-row.is-slots {
  left: 2px;
  background-image: url('../gui/images/star-panel/info-row-2-insects.png');
}

.star-panel__info-row.is-energy {
  left: 3px;
  background-image: url('../gui/images/star-panel/info-row-3-insects.png');
}

.star-panel__info-row.is-life {
  padding-left: 32px;
  left: 12px;
  background-image: url('../gui/images/star-panel/info-row-4-insects.png');
}

.star-panel__info-key,
.star-panel__info-value {
  color: var(--info-key-color);
  font-family: 'Inter';
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 1.1;
  text-transform: uppercase;
}

.star-panel__info-key {
  white-space: nowrap;
}

.star-panel__info-value {
  margin-top: 4px;
  color: var(--info-value-color);
  font-weight: 600;
  text-transform: none;
}

.star-panel__info-value.is-level {
  font-weight: 300;
  font-style: normal;
}

.star-panel__star {
  width: 380px;
  height: 380px;
  position: relative;
  z-index: var(--star-layer);
  background-image: url('../gui/images/star-panel/ring-insects.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

.star-panel__star::after {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: -26px;
  left: calc(50% - 32px);
  background-image: url('../gui/images/star-panel/circle-top-insects.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

.star-panel__star-button {
  width: 76px;
  height: 76px;
  padding: 0;
  position: absolute;
  left: calc(50% - 38px);
  bottom: -35px;
  background-color: transparent;
  background-image: url('../gui/images/star-panel/ring-button-insects.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  border: none;
  cursor: pointer;
  transition: ease transform 200ms;
}

.star-panel__star-button:hover {
  transform: scale(1.05);
}

.star-panel__star-button:active {
  transform: scale(1);
}

.star-panel__race {
  width: 284px;
  height: 308px;
  margin-left: -88px;
  padding: 10px;
  position: relative;
  z-index: var(--race-layer);
}

.star-panel__race::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: var(--main-layer);
  background-image: url('../gui/images/star-panel/race-bg-insects.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.star-panel__race-image {
  display: block;
  width: 272px;
  height: 198px;
  position: relative;
  z-index: var(--under-layer);
  object-fit: contain;
}

.star-panel__race-name {
  width: 118px;
  height: 12px;
  margin-top: -16px;
  margin-left: 110px;
  padding: 0 2px;
  overflow: hidden;
  position: relative;
  z-index: var(--race-layer);
  color: var(--race-name-color);
  font-family: 'Inter';
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 1.1;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.star-panel__race-description {
  width: 166px;
  height: 62px;
  margin-top: 20px;
  margin-left: 75px;
  overflow: hidden;
  position: relative;
  z-index: var(--race-layer);
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: var(--race-description-color);
}

.star-panel__close-button {
  width: 38px;
  height: 38px;
  padding: 0;
  position: absolute;
  right: 14px;
  top: -14px;
  z-index: var(--race-layer);
  background-color: transparent;
  background-image: url('../gui/images/star-panel/close-button-insects.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  border: none;
  cursor: pointer;
  transition: ease transform 200ms;
}

.star-panel__close-button:hover {
  transform: scale(1.05);
}

.star-panel__close-button:active {
  transform: scale(1);
}

/* ROBOTS */
.star-panel.is-robots .star-panel__info-row.is-heading {
  background-image: url('../gui/images/star-panel/info-row-1-robots.png');
}

.star-panel.is-robots .star-panel__info-row.is-slots {
  background-image: url('../gui/images/star-panel/info-row-2-robots.png');
}

.star-panel.is-robots .star-panel__info-row.is-energy {
  background-image: url('../gui/images/star-panel/info-row-3-robots.png');
}

.star-panel.is-robots .star-panel__info-row.is-life {
  background-image: url('../gui/images/star-panel/info-row-4-robots.png');
}

.star-panel.is-robots .star-panel__star {
  background-image: url('../gui/images/star-panel/ring-robots.svg');
}

.star-panel.is-robots .star-panel__star::after {
  background-image: url('../gui/images/star-panel/circle-top-robots.svg');
}

.star-panel.is-robots .star-panel__star-button {
  background-image: url('../gui/images/star-panel/ring-button-robots.svg');
}

.star-panel.is-robots .star-panel__race::before {
  background-image: url('../gui/images/star-panel/race-bg-robots.svg');
}

.star-panel.is-robots .star-panel__close-button {
  background-image: url('../gui/images/star-panel/close-button-robots.svg');
}

/* HUMANS */
.star-panel.is-humans .star-panel__info-row.is-heading {
  background-image: url('../gui/images/star-panel/info-row-1-humans.png');
}

.star-panel.is-humans .star-panel__info-row.is-slots {
  background-image: url('../gui/images/star-panel/info-row-2-humans.png');
}

.star-panel.is-humans .star-panel__info-row.is-energy {
  background-image: url('../gui/images/star-panel/info-row-3-humans.png');
}

.star-panel.is-humans .star-panel__info-row.is-life {
  background-image: url('../gui/images/star-panel/info-row-4-humans.png');
}

.star-panel.is-humans .star-panel__star {
  background-image: url('../gui/images/star-panel/ring-humans.svg');
}

.star-panel.is-humans .star-panel__star::after {
  background-image: url('../gui/images/star-panel/circle-top-humans.svg');
}

.star-panel.is-humans .star-panel__star-button {
  background-image: url('../gui/images/star-panel/ring-button-humans.svg');
}

.star-panel.is-humans .star-panel__race::before {
  background-image: url('../gui/images/star-panel/race-bg-humans.svg');
}

.star-panel.is-humans .star-panel__close-button {
  background-image: url('../gui/images/star-panel/close-button-humans.svg');
}

/* Simbionts */
.star-panel.is-simbionts .star-panel__info-row.is-heading {
  background-image: url('../gui/images/star-panel/info-row-1-simbionts.png');
}

.star-panel.is-simbionts .star-panel__info-row.is-slots {
  background-image: url('../gui/images/star-panel/info-row-2-simbionts.png');
}

.star-panel.is-simbionts .star-panel__info-row.is-energy {
  background-image: url('../gui/images/star-panel/info-row-3-simbionts.png');
}

.star-panel.is-simbionts .star-panel__info-row.is-life {
  background-image: url('../gui/images/star-panel/info-row-4-simbionts.png');
}

.star-panel.is-simbionts .star-panel__star {
  background-image: url('../gui/images/star-panel/ring-simbionts.svg');
}

.star-panel.is-simbionts .star-panel__star::after {
  background-image: url('../gui/images/star-panel/circle-top-simbionts.svg');
}

.star-panel.is-simbionts .star-panel__star-button {
  background-image: url('../gui/images/star-panel/ring-button-simbionts.svg');
}

.star-panel.is-simbionts .star-panel__race::before {
  background-image: url('../gui/images/star-panel/race-bg-simbionts.svg');
}

.star-panel.is-simbionts .star-panel__close-button {
  background-image: url('../gui/images/star-panel/close-button-simbionts.svg');
}

/* LIZARDS */
.star-panel.is-lizards {
  --info-key-color: #1a1a1a;
  --info-value-color: #1a1a1a;
}

.star-panel.is-lizards .star-panel__info-row.is-heading {
  background-image: url('../gui/images/star-panel/info-row-1-lizards.png');
}

.star-panel.is-lizards .star-panel__info-row.is-slots {
  background-image: url('../gui/images/star-panel/info-row-2-lizards.png');
}

.star-panel.is-lizards .star-panel__info-row.is-energy {
  background-image: url('../gui/images/star-panel/info-row-3-lizards.png');
}

.star-panel.is-lizards .star-panel__info-row.is-life {
  background-image: url('../gui/images/star-panel/info-row-4-lizards.png');
}

.star-panel.is-lizards .star-panel__star {
  background-image: url('../gui/images/star-panel/ring-lizards.svg');
}

.star-panel.is-lizards .star-panel__star::after {
  background-image: url('../gui/images/star-panel/circle-top-lizards.svg');
}

.star-panel.is-lizards .star-panel__star-button {
  background-image: url('../gui/images/star-panel/ring-button-lizards.svg');
}

.star-panel.is-lizards .star-panel__race::before {
  background-image: url('../gui/images/star-panel/race-bg-lizards.svg');
}

.star-panel.is-lizards .star-panel__close-button {
  background-image: url('../gui/images/star-panel/close-button-lizards.svg');
}
