.WalletConnectPopup {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: all;
}

.WalletConnectPopup__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.WalletConnectPopup__box {
  width: 340px;
  min-height: 180px;
  margin: auto;
  padding: 10px;
  position: relative;
  z-index: 1;
  background-color: #000;
  border: 1px solid #00ffff;
  border-radius: 10px;
}

.WalletConnectPopup__box::before {
  content: '';
  display: block;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  position: absolute;
  left: -6px;
  top: -6px;
  z-index: -1;
  border: 1px solid #00ffff;
  border-radius: 14px;
  opacity: 0.3;
}

.WalletConnectPopup__close {
  width: 14px;
  height: 14px;
  padding: 0;
  position: absolute;
  right: 16px;
  top: 16px;
  border: none;
  background-color: transparent;
  background-image: url(../gui/images/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.WalletConnectPopup__head {
  padding: 4px 0 12px;
  border-bottom: 1px solid rgba(0, 255, 255, 0.5);
}

.WalletConnectPopup__title {
  color: #00ffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
}

.WalletConnectPopup__body {
  margin-top: 12px;
}

.WalletConnectPopup__wallets {
  display: flex;
  justify-content: space-around;
  padding: 16px;
}

.WalletConnectPopup__wallet {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 0;
  color: #eee;
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-family: inherit;
  text-align: center;
  text-transform: none;
  cursor: pointer;
  transition: ease transform 200ms;
}

.WalletConnectPopup__wallet:hover {
  transform: scale(1.05);
}

.WalletConnectPopup__wallet::before {
  content: '';
  display: block;
  width: 48px;
  height: 48px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.WalletConnectPopup__wallet.is-metamask::before {
  background-image: url(../gui/images/wallets/metamask-logo.png);
}

.WalletConnectPopup__wallet.is-walletconnect::before {
  background-image: url(../gui/images/wallets/wallet-connect-logo.png);
}
