.BaseControl {
  display: flex;
  justify-content: center;
  width: 64px;
  height: 72px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  color: #00FFFF;
  cursor: pointer;
  outline: none;
  user-select: none;
}


.BaseControl__outline {
  width: 100%;
  height: 100%;
}

.BaseControl[disabled],
.BaseControl.cooldown {
  cursor: default;
  pointer-events: none;
}


.BaseControl[disabled] svg {
  opacity: 0.5;
}

.BaseControl__fill {
  fill: rgba(0, 255, 247, 0.05);
  filter: drop-shadow(0px 0px 30px rgba(0, 255, 246, 0.5));
}

.BaseControl.active .BaseControl__fill {
  fill: rgba(0, 255, 247, 0.3);
}

.BaseControl.cooldown .BaseControl__fill {
  fill: rgba(0, 255, 247, 0.05);
}

.BaseControl.cooldown .BaseControl__icon {
  opacity: 0.2;
}

.BaseControl.invisibility .BaseControl__icon {
  top: 10%;
}

.BaseControl.invisibility .BaseControl__icon > svg {
  height: 80%;
}

.BaseControl__icon,
.BaseControl__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76%;
  height: 76%;
  position: absolute;
  left: 12%;
  top: 12%;
  transition: ease transform 200ms;
  will-change: transform;
}

.BaseControl__content {
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
}

.BaseControl:not(.hasContent):hover .BaseControl__icon,
.BaseControl:hover .BaseControl__content {
  transform: scale(1.075);
}

.BaseControl:not(.hasContent):active .BaseControl__icon,
.BaseControl:active .BaseControl__content {
  transform: scale(1);
}

.BaseControl__icon > svg {
  width: 90%;
  height: 90%;
}

.BaseControl__content {
  overflow: hidden;
  padding-bottom: 2%;
  color: #00FFFF;
  font-family: "Exo 2";
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  line-height: 1.1;
}

.BaseControl__cooldown {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: #FF0037;
}

.BaseControl__cooldownCount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 8%;
  position: absolute;
  top: 0;
  left: 0;
  color: #FF0037;
  font-family: "Exo 2";
  font-weight: 400;
  font-size: 42px;
  line-height: 1;
}
