.BaseControl__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.BaseControl {
  position: relative;
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #005EEA;
  cursor: pointer;
  outline: none;
  user-select: none;
  pointer-events: all;
  z-index: 2;
}


.BaseControl__outline {
  width: 100%;
  height: 100%;
}

.BaseControl[disabled],
.BaseControl.cooldown {
  cursor: default;
  /* pointer-events: none; */
}

.BaseControl:not(.disabled, .active) svg {
  opacity: 0.3;
}

.BaseControl__fill {
  fill: rgba(0, 94, 234, 0.15);
  filter: drop-shadow(0px 0px 30px rgba(0, 94, 234, 0.5));
}

.BaseControl.active .BaseControl__fill {
  fill: rgba(0, 150, 255, 0.4);
}

.BaseControl.cooldown .BaseControl__fill {
  fill: rgba(0, 94, 234, 0.05);
}

.BaseControl.cooldown .BaseControl__icon {
  opacity: 0.2;
}

.BaseControl.invisibility .BaseControl__icon {
  top: 10%;
}

.BaseControl.invisibility .BaseControl__icon > svg {
  height: 80%;
}

.BaseControl.canLevelUp {
  cursor: grab;
}

.BaseControl.canLevelUp:active {
  cursor: grabbing;
  pointer-events: all;
}

.BaseControl__icon,
.BaseControl__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76%;
  height: 76%;
  position: absolute;
  left: 12%;
  top: 12%;
  transition: ease transform 200ms;
  will-change: transform;
}

.BaseControl__content {
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
}

.BaseControl:not(.hasContent):hover .BaseControl__icon,
.BaseControl:hover .BaseControl__content {
  transform: scale(1.075);
}

.BaseControl[disabled]:hover .BaseControl__icon,
.BaseControl[disabled]:hover .BaseControl__content,
.BaseControl.cooldown:hover .BaseControl__icon,
.BaseControl.cooldown:hover .BaseControl__content {
  transform: none;
}
.BaseControl:not(.hasContent):active .BaseControl__icon,
.BaseControl:active .BaseControl__content {
  transform: scale(1);
}

.BaseControl__icon > svg {
  width: 90%;
  height: 90%;
}

.BaseControl__content {
  padding-bottom: 2%;
  color: #00FFFF;
  font-family: "Exo 2";
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  line-height: 1.1;
}

.BaseControl__cooldown {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: #FF0037;
}

.BaseControl__cooldownCount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 8%;
  position: absolute;
  top: 0;
  left: 0;
  color: #FF0037;
  font-family: "Exo 2";
  font-weight: 400;
  font-size: 42px;
  line-height: 1;
}

.BaseSkill__levelUp {
  position: absolute;
  pointer-events: all;
  z-index: 3;
  top: -10%;
  left: 0;
  width: 100%;
  height: 38%;
}

.BaseSkill__levelContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.BaseSkill__levelAnimation {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(25%) scale(1,1);
  animation: zoomOut 4s infinite forwards linear;
}

@keyframes zoomOut {
  from {
      opacity: 0;
      transform: translateY(25%) scale(1,1);
  }
  20% {
    opacity: 0.7;
    transform: translateY(10%) scale(1,1);
  }

  to {
    opacity: 0;
    transform: translateY(-40%) scale(1,1);
}
}

.BaseSkill__levelAnimation:nth-child(1) {
  animation-delay: calc(1000ms * -1);
}

.BaseSkill__levelAnimation:nth-child(2) {
  animation-delay: calc(1000ms * 0);
}

.BaseSkill__levelAnimation:nth-child(3) {
  animation-delay: calc(1000ms * 1);
}

.BaseSkill__levelAnimation:nth-child(4) {
  animation-delay: calc(1000ms * 2);
} 

.BaseSkill__levelAnimation:nth-child(5) {
  animation-delay: calc(1000ms * 3);
}

.BaseSkill__levelAnimation:nth-child(6) {
  animation-delay: calc(1000ms * 4);
}

