.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    pointer-events: all;
    
}
.ShopMenu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #070F30;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.ShopMenu__close {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 20px;
    height: 20px;
    z-index: 5;
}

.ShopMenu__close:hover {
    cursor: pointer;
}

.ShopMenu__content {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-left: 13px;
    padding-right: 13px;
    text-align: center;
}

.ShopMenu__title{
    font-size: 14px;
    color: #F9EB20;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ShopMenu__filter {
    width: 100%;
    background: rgba(0, 0, 0, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
    color: #FFFFFF;
    opacity: 0.3;
    font-size: 12px;
    outline: none;

}

.ShopMenu__items {
    width: 100%;
    /* height: calc(100% - 74px); */
    display: grid;
    /* overflow-y: auto; */
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-bottom: 5px;
    padding-top: 8px;
}

.ShopMenu__item {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ShopMenu__item-img {
    position: absolute;
    top: 6%;
    left: 21%;
    width: 60%;
    height: 60%;
   
}

.ShopMenu__item-img img{
    object-fit: contain;
}

.ShopMenu__item-trading {
    position: absolute;
    width:100%;
    height: 70%;
    top:0%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 5px;
    z-index: 2;
}

.ShopMenu__item-buy {
    height: 50%;
    background: linear-gradient(0deg, #0250C5 0%, #D43F8D 100%);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    color: #F9EB20
    
}

.ShopMenu__item-buy:hover {
    cursor: pointer;
}

.ShopMenu__item-info {
    height: 50%;
    background: linear-gradient(0deg, #0250C5 0%, #D43F8D 100%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    color: #F9EB20
}

.ShopMenu__item-info:hover {
    cursor: pointer;
}

.ShopMenu__item-content {
    position: absolute;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    gap: 5px;
    top: 70%;
    font-size: 12px;
    color: white;
}

.ShopInfo__container {
    position: absolute;
    top: 20%;
    width: 94%;
    height: 65%;
    z-index: 3;
}

.ShopInfo {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #112A5E;
    border-radius: 18px;   
}

.ShopInfo__close {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 2;
    top: 3%;
    right: 3%;
}

.ShopInfo__close :hover {
    cursor: pointer;
}

.ShopInfo__content {
    position: absolute;
    padding: 12px;
    overflow: auto;
  
}

.ShopInfo__title {
    font-size: 14px;
    color: #F9EB20;
}

.ShopInfo__subtitle {
    font-size: 14px;
    color: white;
    margin-top: 23px;
    margin-bottom: 5px;
}


.ShopInfo__description {
    color: white;
    padding-bottom: 20px;
}

.ShopInfo__button {
    position: relative;
    transition: all 0.2s ease;
}


.ShopInfo__button :hover {
    cursor: pointer;
    transform: scale(1.05);
}

.ShopInfo__button:active {
    transform: scale(0.95);
}

.ShopInfo__button:hover {
    cursor: pointer;
}

.ShopInfo__button-name {
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position :absolute;
    text-align: center;
    color: #112A5E;
    font-size: 24px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none; 
}

.ShopMenu__loading {
    width: 24px;
    height: 24px;
}

@media (max-width:325px) {
    .ShopMenu__items {
       padding-bottom: 4px;
    }

    .ShopMenu__items {
        width: 100%;
        height: calc(100% - 74px);
        display: grid;
        overflow-y: auto;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding-bottom: 3px;
        padding-top: 8px;
    }
}

