.BattleAcceptMode {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 18px 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: all;
  color: white;
}

.BattleAcceptMode__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.BattleAcceptMode__close {
  width: 21px;
  height: 21px;
  padding: 0;
  position: absolute;
  right: 16px;
  top: 16px;
  border: none;
  background-color: transparent;
  background-image: url(../gui/images/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
