.GoldScore__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 60px;
    padding: 0;
    position: absolute;
    top: -34px;
    left: -24px;
    z-index: 1;
    background-color: transparent;
    border: none;
    color: #050A26;
    transition: ease transform 200ms;
    will-change: transform;
}

.GoldScore__score {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 2;
    position: absolute;
    top: -32px;
    left: 99px;
    font-size: 13px;

}

.GoldScore__close {
    background-color: transparent;
    background-position: 50% 50%;
    background-size: contain;
    background-image: url(../gui/images/close.svg);
    width: 10px;
    height: 10px;
    top: -29px;
    right: -16px;
    border: none;
    position: absolute;
    z-index: 3;
}

.GoldScore__close:hover {
    cursor: pointer;
}
.GoldScore__text {
    padding: 3px;
    font-weight: bold;
}