.WelcomeScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  z-index: 2;
  background-color: #040310;
  background-image: url(../gui/images/background.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.WelcomeScreen__logo {
  width: calc(100vw - 40px);
  max-width: 440px;
  min-width: 260px;
  aspect-ratio: 1.375;
  background-image: url(../gui/images/preloader/logo.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.WelcomeScreen__logo-text {
  width: 284px;
  aspect-ratio: 3.19;
  flex-shrink: 0;
  margin-top: 48px;
  background-image: url(../gui/images/preloader/logo-text.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.WelcomeScreen__text {
  max-width: 640px;
  margin: 48px 0;
  color: #00f0ff;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  text-shadow: 0px 0px 20px #000000;
  line-height: 1.38;
  pointer-events: all;
}

.WelcomeScreen__text a {
  max-width: 640px;
  margin: 48px 0;
  color: #00f0ff;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  text-shadow: 0px 0px 20px #000000;
  line-height: 1.38;
  pointer-events: all;
  text-decoration: underline;
  cursor: pointer;
}

.WelcomeScreen__button {
  margin-top: 26px;
  padding: 4px 0 2px;
  position: relative;
  z-index: 0;
  background-color: transparent;
  border: none;
  color: #00f0ff;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px #000000;
  line-height: 1.12;
  pointer-events: all;
  cursor: pointer;
  transition: ease 200ms transform;
  will-change: transform;
}

.WelcomeScreen__button.active {
  padding-left: 48px;
  padding-right: 48px;
  background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  font-size: 24px;
}

.WelcomeScreen__button.active::before,
.WelcomeScreen__button.active::after {
  content: '';
  display: block;
  width: 80px;
  height: 194%;
  position: absolute;
  left: -28px;
  top: 50%;
  background-image: url(../gui/images/preloader/button-edge.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

.WelcomeScreen__button.active::after {
  left: auto;
  right: -28px;
  transform: translateY(-50%) scaleX(-1);
}

.WelcomeScreen__button + .WelcomeScreen__button {
  margin-top: 16px;
}

.WelcomeScreen__button:hover {
  transform: scale(1.05);
}

.WelcomeScreen__button:active {
  transform: scale(1);
}

.WelcomeScreen__checkbox {
  display: flex;
  align-items: center;
  margin-top: 32px;
  position: relative;
  z-index: 0;
  color: #00f0ff;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.21;
  text-shadow: 0px 0px 20px #000000;
  pointer-events: all;
  cursor: pointer;
}

.WelcomeScreen__checkbox-field {
  width: 26px;
  height: 26px;
  opacity: 0;
  margin-right: 12px;
}

.WelcomeScreen__checkbox-label::before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 2px;
  background-color: #352f44;
  border: 2px solid #00f0ff;
  border-radius: 10px;
}

.WelcomeScreen__checkbox-label::after {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 4px;
  top: 6px;
  background-image: url(../gui/images/check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  transform: scale(0);
  transition: ease 200ms opacity;
}

.WelcomeScreen__checkbox-field:checked + .WelcomeScreen__checkbox-label::after {
  transform: scale(1);
}

@media (max-width: 420px), (max-height: 420px) {
  .WelcomeScreen__logo-text {
    width: 200px;
    margin-top: 28px;
  }

  .WelcomeScreen__button {
    margin-top: 12px;
    font-size: 14px;
  }

  .WelcomeScreen__button.active {
    margin-top: 16px;
    font-size: 18px;
  }
}
