.BoxContentPopup {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: all;
}

.BoxContentPopup__box {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.BoxContentPopup__body {
  display: flex;
  justify-content: center;
  padding: 0px 10px 0px 10px;
  width: 100%;
  max-height: calc(100% - 308px);
}

.BoxContentPopup__content {
  position: relative;
  max-width: 450px;
  display: flex;
  justify-content: center;
  width: max-content;
}

.BoxContentPopup__content > img {
  height: 100%;
  object-fit: contain;
  max-height: calc(100vh - 140px);
}

.BoxContentPopup__title {
  position: absolute;
  top: 2%;
  color: #112A5E;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

.BoxContentPopup__close {
  position: absolute;
  top: 2.5%;
  right: 13%;
  color: #112A5E;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  background-image: url("../gui/images/user-inventory/inventory/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.BoxContentPopup__close:hover {
  cursor: pointer;
}

.BoxContentPopup__cards {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(3, 1fr);
  align-content: flex-start;
  gap: 10px;
  padding: 8px;
  margin-top: 16px;
  flex-grow: 1;
  overflow: auto;
  max-height: 57%;
  width: 83%;
  top: 12%;
}


.BoxContentPopup__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  position: relative;
}

.BoxContentPopup__card[data-rare="rare"] {
  --color: #123EAB;
}

.BoxContentPopup__card[data-rare="mithic"] {
  --color: #640CAB;
}

.BoxContentPopup__card[data-rare="legendary"] {
  --color: #FF6200;
}

.BoxContentPopup__cardName {
  position: absolute;
  left: 50%;
  top: 1%;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  white-space: nowrap;
  transform: translateX(-50%);
}

.BoxContentPopup__cardFigure {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: 54%;
  margin-top: -8px;
  z-index: 0;
}

.BoxContentPopup__cardImage {
  display: block;
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.BoxContentPopup__cardCaption {
  position: absolute;
  bottom: 7%;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.BoxContentPopup__bottom {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 79%;
  top: 78%;
}


@keyframes zoomOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.95, 0.95);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.1, 1.3);
    opacity: 0.5;
  }

  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.2, 1.6);
  }
}


.BoxContentPopup__animation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.BoxContentPopup__button {
  /* background: linear-gradient(360deg, #00C6FB 0%, #005BEA 100%);  */
  box-shadow: 
  0px 0px 13.5px rgba(0, 94, 234, 1), 
  0px 0px 27px rgba(0, 94, 234, 1),  
  0px 0px 94.5px rgba(0, 94, 234, 1),
  0px 0px 189px rgba(0, 94, 234, 1), 
  0px 0px 324px rgba(0, 94, 234, 1), 
  0px 0px 567px rgba(0, 94, 234, 1);
  text-align: center;
  background-color: rgb(1, 105, 237, 0.8);
  width: 86%;
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 50px;
  transition: transform 0.3s ease;
}

.BoxContentPopup__button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.BoxContentPopup__button-text {
  font-style: normal;
  font-size: 32px;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
}

.BoxContentPopup__button-animation {
  width: 84%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1,1);
  transform-origin: center;
  opacity: 1;
  z-index: 1;
  animation: zoomOut 6s infinite forwards linear;
}

.BoxContentPopup__button-animation img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes zoomOut {
  from {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1,1);
  }

  50% {
      transform: translate(-50%, -50%) scale(1.1,1.2);
      opacity: 0.5;
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.2,1.4);
}
}
.BoxContentPopup__button-animation:nth-child(1) {
  animation-delay: calc(1000ms * -10);
}

.BoxContentPopup__button-animation:nth-child(2) {
  animation-delay: calc(1000ms * -9);
}

.BoxContentPopup__button-animation:nth-child(3) {
  animation-delay: calc(1000ms * -8);
}

.BoxContentPopup__button-animation:nth-child(4) {
  animation-delay: calc(1000ms * -7);
}

.BoxContentPopup__button-animation:nth-child(5) {
  animation-delay: calc(1000ms * -6);
}

.BoxContentPopup__button-animation:nth-child(6) {
  animation-delay: calc(1000ms * -5);
}

.BoxContentPopup__button-animation:nth-child(7) {
  animation-delay: calc(1000ms * -4);
}

.BoxContentPopup__button-animation:nth-child(8) {
  animation-delay: calc(1000ms * -3);
}

.BoxContentPopup__button-animation:nth-child(9) {
  animation-delay: calc(1000ms * -2);
}

.BoxContentPopup__button-animation:nth-child(10) {
  animation-delay: calc(1000ms * -1);
}

.BoxContentPopup__button-animation:nth-child(11) {
  animation-delay: calc(1000ms * 0);
}

.BoxContentPopup__button-animation:nth-child(12) {
  animation-delay: calc(1000ms * 1);
}

.BoxContentPopup__button-animation:nth-child(13) {
  animation-delay: calc(1000ms * 2);
}

.BoxContentPopup__button-animation:nth-child(14) {
  animation-delay: calc(1000ms * 3);
}

.BoxContentPopup__button-animation:nth-child(15) {
  animation-delay: calc(1000ms * 4);
}

.BoxContentPopup__button-animation:nth-child(16) {
  animation-delay: calc(1000ms * 5);
}

.BoxContentPopup__button-animation:nth-child(17) {
  animation-delay: calc(1000ms * 6);
}

.BoxContentPopup__button-animation:nth-child(18) {
  animation-delay: calc(1000ms * 7);
}

.BoxContentPopup__button-animation:nth-child(19) {
  animation-delay: calc(1000ms * 8);
}

.BoxContentPopup__button-animation:nth-child(20) {
  animation-delay: calc(1000ms * 9);
}

.BoxContentPopup__button-animation:nth-child(21) {
  animation-delay: calc(1000ms * 10);
}

.BoxContentPopup__button-animation:nth-child(22) {
  animation-delay: calc(1000ms * 11);
}

.BoxContentPopup__button-animation:nth-child(23) {
  animation-delay: calc(1000ms * 12);
}

.BoxContentPopup__button-animation:nth-child(24) {
  animation-delay: calc(1000ms * 13);
}

.BoxContentPopup__button-animation:nth-child(25) {
  animation-delay: calc(1000ms * 14);
}

.BoxContentPopup__button-animation:nth-child(26) {
  animation-delay: calc(1000ms * 15);
}

.BoxContentPopup__button-animation:nth-child(27) {
  animation-delay: calc(1000ms * 16);
}

.BoxContentPopup__button-animation:nth-child(28) {
  animation-delay: calc(1000ms * 17);
}

.BoxContentPopup__button-animation:nth-child(29) {
  animation-delay: calc(1000ms * 18);
}

.BoxContentPopup__button-animation:nth-child(30) {
  animation-delay: calc(1000ms * 19);
}

@media (max-width: 980px) {
  .BoxContentPopup__body {
    max-height: calc(100% - 140px);
  }
}


@media (max-width: 375px) {

  .BoxContentPopup__close {
    top: 2%;
  }

  .BoxContentPopup__title {
    font-size: 18px;
  }
}


.BoxContentPopup__cards::-webkit-scrollbar {
  width: 3px;
  padding: 5px;
}

.BoxContentPopup__cards::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.1);
  opacity: 10%;
}

.BoxContentPopup__cards::-webkit-scrollbar-thumb {
  background: #00FFFF;
  height: 10%;
  border-radius: 10px;
}

.BoxContentPopup__cards::-webkit-scrollbar-thumb:hover {
  background: #555;
}