.BaseItem {
    display: flex;
    justify-content: center;
    width: 64px;
    height: 72px;
    padding: 0;
    border: none;
    background-color: transparent;
    position: relative;
    color: #00FFFF;
    cursor: pointer;
    outline: none;
    user-select: none;
    z-index: 10;
  }

  .isHide {
    display: none;
    visibility: hidden;
  }
  
  
  .BaseItem__outline {
    width: 100%;
    height: 100%;
  }

  .BaseItem__icon,
  .BaseItem__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76%;
    height: 76%;
    position: absolute;
    left: 12%;
    top: 12%;
    transition: ease transform 200ms;
    will-change: transform;
  }
   
  .BaseItem__icon > svg {
    width: 90%;
    height: 90%;
  }

  .BaseItem__row {
    display: flex;
    
  }

  .BaseItem__extend__right {
    display: flex;
    justify-content: center;
    width: 180px;
    height:72px;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 33px;
    color: #00FFFF;
    cursor: pointer;
    outline: none;
    user-select: none;
    z-index: 2;
    transition: .5s;
  }

  .BaseItem__detailIcon__right {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 66px;
    right: 158px;
    z-index: 3
  }

  .BaseItem__detailText__right {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100px;
    height: 52px;
    margin-left: -174px;
    top:10px;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #00FFFF;
    overflow: auto;
    z-index: 4;
  }

  .BaseItem__detailText__right::-webkit-scrollbar {
    width: 1px; 
  }
  
  .BaseItem__detailText__right::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
  }
  
  .BaseItem__detailText__right::-webkit-scrollbar-thumb {
    background: #00FFFF;
    border-radius: 10px; 
  }

  .BaseItem__extend__left {
    display: flex;
    justify-content: center;
    width: 180px;
    height:72px;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    left:33px;
    color: #00FFFF;
    cursor: pointer;
    outline: none;
    user-select: none;
    z-index: 2;
  }

  .BaseItem__detailIcon__left {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 63px;
    left: 160px;
    z-index: 5;
  }

  .BaseItem__detailText__left {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100px;
    height: 52px;
    margin-left: 10px;
    top:10px;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #00FFFF;
    overflow: auto;
    z-index: 7;
  }

  .BaseItem__detailText__left::-webkit-scrollbar {
    width: 1px; 
  }
  
  .BaseItem__detailText__left::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
  }
  
  .BaseItem__detailText__left::-webkit-scrollbar-thumb {
    background: #00FFFF;
    border-radius: 10px; 
  }
  

/* we will explain what these classes do next! */
.detail-enter-active, .detail-leave-active {
  transition: opacity 1s, transform 1s;
}
.detail-enter, .detail-leave-to {
  opacity: 0;
  transform: translateX(32px);
}