  .BaseItem {
      display: flex;
      justify-content: center;
      width: 64px;
      height: 72px;
      padding: 0;
      border: none;
      background-color: transparent;
      position: relative;
      color: #00FFFF;
      cursor: pointer;
      outline: none;
      user-select: none;
      z-index: 10;
  }

  .isHide {
    display: none;
    visibility: hidden;
  }


  .BaseItem__outline {
    width: 100%;
    height: 100%;
  }

  .BaseItem__icon,
  .BaseItem__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76%;
    height: 76%;
    position: absolute;
    left: 12%;
    top: 12%;
    transition: ease transform 200ms;
    will-change: transform;
  }
    
  .BaseItem__icon > svg {
    width: 90%;
    height: 80%;
  }

  .BaseItem__row {
    display: flex;
    
  }

  .BaseItem__extend {
    display: flex;
    justify-content: center;
    width: 185px;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    color: #00FFFF;
    cursor: pointer;
    outline: none;
    user-select: none;
    z-index: 2;
    transition: .5s;
  }

  .BaseItem__extend--left {
    left: 32px;
  }

  .BaseItem__extend--right {
    right: 32px;
  }

  .BaseItem__detailIcon {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 66px;
    z-index: 3;
  }

  .BaseItem__detailIcon--left {
    left: 160px;
  }

  .BaseItem__detailIcon--right {
    right: 160px;
  }

  .BaseItem__detailIcon:hover {
    cursor: pointer;
  }

  .BaseItem__detailText {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 112px;
    height: 52px;
    top: 10px;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #00FFFF;
    overflow: auto;
    z-index: 4;
  }

  .BaseItem__detailText--left {
    margin-left: 10px;
  }

  .BaseItem__detailText--right {
    margin-left: -174px;
  }

  .BaseItem__detailText::-webkit-scrollbar {
    width: 1px;
  }

  .BaseItem__detailText::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .BaseItem__detailText::-webkit-scrollbar-thumb {
    background: #00FFFF;
    border-radius: 10px;
  }
