.RewardItem {
    position: relative;
    width: 87.5%;
    display: flex;
    flex-direction: column;
    opacity: 0.5;
    gap: 5px; 
}

.RewardItem.is-processed {
    opacity: 1;
}

.RewardItem-avatar {
    position: relative;
    z-index: 3;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid #ffffff;
    overflow: hidden;
}

.RewardItem-avatar.is-reward-day {
    border: 2px solid #04FFFB;
    box-shadow: 0px 0px 6.3px #41B6FF;
}

.RewardItem-avatar.is-reward-day:hover {
    cursor: pointer;
}

.RewardItem-avatar.is-received {
    background: rgba(112, 255, 68, 0.24);
    border: 2px solid #70FF44;
}

.RewardItem-avatar.is-missed {
    background: rgba(255, 0, 0, 0.24);
    border: 2px solid #FF0000;
}

.RewardItem-avatar.is-missed:hover {
    cursor: pointer;
}

.RewardItem-avatar.is-bonus-day {
    border: 2px solid #FEC023;
    box-shadow: 0px 0px 6.3px #FEC023;
}

.RewardItem-status {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
}

.RewardItem-status.is-received {
    background: rgba(112, 255, 68, 0.24);
}

.RewardItem-status.is-reward-day {
   
}

.RewardItem-status.is-missed {
    background: rgba(255, 0, 0, 0.24);
}

.RewardItem-status img {
    width: 50%;
    height: 50%;
}

.RewardItem-status.RewardItem__day.is-received{
    background: rgba(112, 255, 68, 0.24);
}

.RewardItem__count {
    position: absolute;
    top: 2px;
    right: -5px;
    z-index: 3;
    width: 32px;
    text-align: center;
    padding: 0.5px 4px;
    background: #1B2933;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 6px;
    font-size: 12px;
}

.RewardItem-check {
    position: absolute;
    top: 0;
    right: -8px;
    z-index: 3;
    padding: 5px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #1B2933;
    border: 1px solid #04FFFB;
}

.RewardItem__count.is-bonus-day {
    border: 1px solid #FEC023;
    color: #FEC023;
}

.RewardItem__count.is-reward-day {
    border: 1px solid #04FFFB;
    color: #04FFFB;
}

.RewardItem__count.is-received {
    border: 1px solid #70FF44;
    color: #70FF44;
} 

.RewardItem__count.is-missed {
    border: 1px solid #FF0000;
    color: #FF0000;
}

.RewardItem__day {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}

.RewardItem__day.is-reward-day {
    color: #04FFFB;
}

.RewardItem__day.is-received {
    color: #70FF44;
}   

.RewardItem__day.is-missed {
    color: #FF0000;
}  

.RewardItem-bonus-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FEC023;
    text-shadow: 0px 0px 6.9px #293352, 0px 0px 5.1px #192540;
}   
