.BattleWaitProgress {
    position: absolute;
    top:0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.BattleWaitProgress__title {
    font-size: 36px;
    line-height: 43px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.BattleWaitProgress__time {
    font-size: 160px;
    color: #E2FCFF;
    text-shadow: 0px 0px 76.104px #0866EB, 0px 0px 43.488px #0866EB, 0px 0px 25.368px #0866EB, 0px 0px 12.684px #E2FCFF, 0px 0px 3.624px #E2FCFF, 0px 0px 1.812px #E2FCFF;
}

.BattleWaitProgress__buton {
    position: relative;
    display: flex;
    justify-content: center;
    background: transparent;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius:37px;
    
}

.BattleWaitProgress__buton img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.BattleWaitProgress__buton-name {
    position: absolute;
    top: 34%;
    text-align: center;
    font-family:'jura';
    font-size: 36px;
    color: white;
  
}

.BattleWaitProgress__acceptprogress {
    position: absolute;
    top: 5%;
    width: 85%;
}

.BattleWaitProgress__content {
    background-color: rgba(7, 16, 50, 0.5);
    padding: 17px;
    border-radius: 20px;
    position: relative;
    
}

.BattleWaitProgress__content-name {
    font-size: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 6%, rgba(0, 0, 0, 0.5) 100%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.BattleWaitProgress__content-description {
    font-size: 16px;
    color: white;
    margin-top: 40px;
    margin-bottom: 60px;
}

.BattleWaitProgress__bottom {
    margin-top: 23px;
    font-size: 14px;
    text-align: center;
    color: #FF0000;
    text-shadow: 0px 0px 423.36px #FF0000, 0px 0px 241.92px #FF0000, 0px 0px 141.12px #FF0000, 0px 0px 70.56px #FF0000, 0px 0px 20.16px #FF0000, 0px 0px 10.08px #FF0000;
}


@media (max-width: 375px) {
    
    .BattleWaitProgress__title {
        font-size: 32px;
    
    }
    
    .BattleWaitProgress__time {
        font-size: 120px;
    }
    
    .BattleWaitProgress__buton-name {
        font-size: 32px;
    
    }
    
    .BattleWaitProgress__acceptprogress {
        position: absolute;
        top: 10%;
        width: 85%;
    }
    
    .BattleWaitProgress__content {
        background-color: rgba(7, 16, 50, 0.5);
        padding: 17px;
        border-radius: 20px;
        position: relative;
        
    }
    
    .BattleWaitProgress__content-name {
        font-size: 20px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 6%, rgba(0, 0, 0, 0.5) 100%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    
    .BattleWaitProgress__content-description {
        font-size: 16px;
        color: white;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    
    
  }

