.UserInventoryPopup {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: all;
  z-index: 3;
  /* background-color: rgba(0, 0, 0, 0.7); */
}


.UserInventoryPopup__box {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.UserInventoryPopup__body {
  display: flex;
  justify-content: center;
  padding: 0px 10px 0px 10px;
  width: 100%;
  max-height: calc(100% - 308px);
}

.UserInventoryPopup__body-image {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 450px;
  width: max-content;
}

.UserInventoryPopup__body-image>img {
  height: 100%;
  object-fit: contain;
  max-height: calc(100vh - 140px);
}

.UserInventoryPopup__title {
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  /* font-family: 'Jura'; */
  font-style: normal;
  /* font-weight: 700; */
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #112A5E;

}

.UserInventoryPopup__close {
  position: absolute;
  top: 2.5%;
  right: 13%;
  color: #112A5E;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  background-image: url("../gui/images/user-inventory/inventory/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.UserInventoryPopup__balance {
  position: absolute;
  bottom: -0%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-family: 'Jura'; */
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #00FFFF;
}

.UserInventoryPopup__tabs {
  position: absolute;
  height: 76.6%;
  overflow-y: auto;
  display: flex;
  left: 0px;
  top: 12.5%;
  flex-direction: column;
  gap: 1%;
  width: 13.5%;
  flex-shrink: 0;
  padding-right: 5px;
  z-index: 10;
}

.UserInventoryPopup__tab {
  display: flex;
  height: 11.5%;
  position: relative;
  background-color: transparent;
  border: 2px solid #21D7FB;
  border-left: none;
  border-radius: 0 6px 6px 0;
  color: #00FFFF;
  cursor: pointer;
  transition: ease background-color 200ms;
  will-change: background-color;
  background-color: transparent;
  margin-left: 21%;
  padding-right: 3px;
  padding-left: 3px;
  transition: all 0.2s ease;
}

.UserInventoryPopup__tab.empty-tab {
  border: 2px solid #4FACFE;
  border-left: none;
  opacity: 30%;
}


.UserInventoryPopup__tab:hover {
  background-color: #001616;
}

.UserInventoryPopup__tab::after {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.UserInventoryPopup__tab.inventory::after {
  background-image: url(../gui/images/user-inventory/box.svg);
}

.UserInventoryPopup__tab.events::after {
  background-image: url(../gui/images/user-inventory/star.svg);
}

.UserInventoryPopup__tab.unboxing::after {
  height: 34px;
  background-image: url(../gui/images/user-inventory/unbox.svg);
}

.UserInventoryPopup__tab.active {
  background-color: transparent;
  border: none;
  margin-left: 4px;
  color: #000;
}

.UserInventoryPopup__tab.active::after {
  filter: brightness(0);
}

.UserInventoryPopup__tab.inventory[assets-count]::before {
  content: attr(assets-count);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -6px;
  top: -2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 12px;
}

.UserInventoryPopup__tab.events[events-count]::before {
  content: attr(events-count);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -6px;
  top: -2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 12px;
}

.UserInventoryPopup__tab.unboxing[data-count]::before {
  content: attr(data-count);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -6px;
  top: -2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 12px;
}

.UserInventoryPopup__content {
  position: absolute;
  height: 76.6%;
  width: calc(100% - 64px);
  overflow-y: auto;
  left: 55px;
  top: 11.4%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-top: 8px;
  flex-grow: 1;
  z-index: 2;
}

.UserInventoryPopup__content_openbox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76%;
  width: 100%;
  top: 12%;
}

.UserInventoryPopup__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: flex-start;
  gap: 10px;
  width: 100%;
  overflow: auto;
  padding-right: 5px;
}

.UserInventoryPopup__content.unboxing {
  /* padding-bottom: 16px; */
}

.UserInventoryPopup__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  position: relative;
}

.UserInventoryPopup__card img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.UserInventoryPopup__close:hover {
  cursor: pointer;
}

.UserInventoryPopup__card.is-store {
  cursor: pointer;
}

.UserInventoryPopup__card[data-amount="0"] {
  cursor: default;
  user-select: none;
  pointer-events: none;
  opacity: 0.3;
}


.UserInventoryPopup__card[data-rare="rare"] {
  --color: #123EAB;
}

.UserInventoryPopup__card[data-rare="mythic"] {
  --color: #640CAB;
}

.UserInventoryPopup__card[data-rare="mithic"] {
  --color: #640CAB;
}

.UserInventoryPopup__card[data-rare="legendary"] {
  --color: #FF6200;
}


.UserInventoryPopup__cardName {
  position: absolute;
  left: 50%;
  top: 1%;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  white-space: nowrap;
  transform: translateX(-50%);
}

.UserInventoryPopup__cardFigure {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: 70%;
  margin-top: -8px;
  z-index: 0;
}

.UserInventoryPopup__cardCount {
  min-width: 16px;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  right: 2px;
  top: 2px;

}

.UserInventoryPopup__cardImage {
  display: block;
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.UserInventoryPopup__cardCaption {
  position: absolute;
  bottom: 4%;
  width: 97%;
  height: 21%;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.UserInventoryPopup__open-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}

.UserInventoryPopup__count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 51%;
}

.UserInventoryPopup__count-text {
  position: absolute;
  color: #00ffff;
  font-size: 44px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.UserInventoryPopup__count>img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.UserInventoryPopup__animation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 14%;
  z-index: 4;
}

.UserInventoryPopup__button {
  position: relative;
  box-shadow: 0px 0px 583.2px #FFAC0F, 0px 0px 340.2px #FFAC0F, 0px 0px 170.1px #FFAC0F, 0px 0px 48.6px #FFAC0F, 0px 0px 24.3px #FFAC0F;
  background-color: rgb(255, 172, 15, 0.8);
  border: none;
  border-radius: 42px;
  width: 70%;
  height: 100%;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

.UserInventoryPopup__button-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
}

.UserInventoryPopup__cardCaption-button {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #00C6FB, #005BEA);
  border: none;
  box-shadow: 
    0px 1px 0.5px rgba(0, 0, 0, 0.98),
    0px 3px 1.5px rgba(0, 0, 0, 0.85),
    0px 6px 2px rgba(0, 0, 0, 0.5),
    0px 11px 2px rgba(0, 0, 0, 0.15),
    0px 16px 2.5px rgba(0, 0, 0, 0.02);
  color: white;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UserInventoryPopup__cardCaption-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 105%;
  height: 110%;
  background: linear-gradient(to top, #00C6FB, #005BEA);
  border-radius: inherit;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.UserInventoryPopup__cardCaption-button:hover {
   cursor: pointer;
   opacity: 0.8;
}

.UserInventoryPopup__button:hover {
  transform: scale(1.05);
}

.UserInventoryPopup__button-animation {
  width:  100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1,1);
  transform-origin: center;
  opacity: 0;
  z-index: 1;
  /* overflow: hidden; */
  animation: zoomOut 4s infinite forwards linear;
  /* transition: all 4s linear;
  z-index: -1; */
  display: flex;
  justify-content: center;
  align-items: center;
}



@keyframes zoomOut {
  0% {
      opacity: 0.4;
      transform: translate(-50%, -50%) scale(1,1);
  }
  
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.17, 1.38);
}
}

.UserInventoryPopup__button-animation:nth-child(1) {
  animation-delay: calc(1000ms * -5);
}

.UserInventoryPopup__button-animation:nth-child(2) {
  animation-delay: calc(1000ms * -4);
}

.UserInventoryPopup__button-animation:nth-child(3) {
  animation-delay: calc(1000ms * -3);
}

.UserInventoryPopup__button-animation:nth-child(4) {
  animation-delay: calc(1000ms * -2);
}

.UserInventoryPopup__button-animation:nth-child(5) {
  animation-delay: calc(1000ms * -1);
}

.UserInventoryPopup__button-animation:nth-child(6) {
  animation-delay: calc(1000ms * 0);
}

.UserInventoryPopup__button-animation:nth-child(7) {
  animation-delay: calc(1000ms * 1);
}

.UserInventoryPopup__button-animation:nth-child(8) {
  animation-delay: calc(1000ms * 2);
}


.UserInventoryPopup__connect {
  position: absolute;
  top: 32%;
  left: 27%;
  margin: auto;
  padding: 12px 22px;
  border: none;
  color: #000;
  background-color: #00ffff;
  /* font-family: 'Exo 2'; */
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.UserInventoryPopup__loader {
  flex-grow: 1;
  display: flex;
}

.UserInventoryPopup__loader.in-store {
  margin: auto;
}

.UserInventoryPopup__tabs::-webkit-scrollbar {
  width: 3px;
  padding: 5px;
}

.UserInventoryPopup__tabs::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.1);
  opacity: 10%;
}

.UserInventoryPopup__tabs::-webkit-scrollbar-thumb {
  background: #00FFFF;
  border-radius: 10px;
}

.UserInventoryPopup__tabs::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.UserInventoryPopup__list::-webkit-scrollbar {
  width: 3px;
  padding: 5px;
}

.UserInventoryPopup__list::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.1);
  opacity: 10%;
}

.UserInventoryPopup__list::-webkit-scrollbar-thumb {
  background: #00FFFF;
  height: 10%;
  border-radius: 10px;
}

.UserInventoryPopup__list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 980px) {
  .UserInventoryPopup__body {
    max-height: calc(100% - 140px);
  }
}

@media (max-width: 425px) {
  .UserInventoryPopup__balance {
    font-size: 17px;
    bottom: -6px;
  }

  .UserInventoryPopup__title {
    font-size: 24px;
  }

  .UserInventoryPopup__button {
    font-size: 24px;
  }

}

@media (max-width: 375px) {
  .UserInventoryPopup__cardCaption {
    font-size: 12px;
    bottom: 4%;
  }

  .UserInventoryPopup__cardCount {
    font-size: 10px;
    top: 1px;
  }

  .UserInventoryPopup__count {
    max-width: 200px;
  }

  .UserInventoryPopup__button {
    font-size: 20px;
  }

  .UserInventoryPopup__close {
    top: 2%;
  }

  
}

@media (max-width: 375px) {
  .UserInventoryPopup__button > div {
    font-size: 28px;
  }
}

