.UserBar {
  display: flex;
  gap: 16px;
  align-items: center;
  position: relative;
  z-index: 2;
}

.UserBar__search {
  position: relative;
  width: 24px;
  height: 24px;
}

.UserBar__search-field {
  width: 320px;
  position: absolute;
  right: -8px;
  top: -8px;
  z-index: 1;
  pointer-events: all;
}

.UserBar__account {
  width: auto;
  height: auto;
  padding: 4px 8px;
  color: #00ffff;
  border: 2px solid currentColor;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 17px;
  white-space: nowrap;
  pointer-events: all;
}

.UserBar__button {
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: all;
  will-change: filter;
  transition: ease filter 200ms;
}

.UserBar__button.is-mint {
  width: auto;
  height: auto;
  padding: 4px 8px;
  color: #00ffff;
  border: 2px solid currentColor;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 17px;
  white-space: nowrap;
}

.UserBar__button.is-mint::before {
  display: none;
}

.UserBar__button.is-search {
  background-image: url(../gui/images/search.svg);
}

.UserBar__button.is-settings {
  background-image: url(../gui/images/settings.svg);
}

.UserBar__button.is-wallet {
  background-image: url(../gui/images/wallet.svg);
}

.UserBar__button::before {
  content: '';
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  position: absolute;
  left: -10px;
  top: -10px;
}

.UserBar__button.active,
.UserBar__button:hover {
  filter: drop-shadow(0px 0px 8px #00f0ff);
}

.UserBar__popup {
  position: absolute;
  right: 0;
  top: calc(100% + 20px);
  pointer-events: all;
}

@media (max-width: 600px) {
  .UserBar__search-field {
    width: calc(100% - 36px);
    left: 18px;
    top: 86px;
    position: fixed;
  }

  .UserBar__button.is-mint {
    position: fixed;
    right: 20px;
    top: 60px;
  }

  .UserBar.connected .UserBar__search-field {
    top: 100px;
  }

  .UserBar.connected .UserBar__popup {
    top: calc(100% + 50px);
  }
}
