.BattleProcessMode {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 18px 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.BattleProcessMode__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 156px;
}

.BattleProcessMode__panel {
  position: fixed;
  bottom: 18px;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
}

.BattleProcessMode__section {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.BattleProcessMode__section + .BattleProcessMode__section {
  border-top: 1px solid rgba(0, 255, 255, 0.2);
}

.BattleProcessMode__column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.BattleProcessMode__caption {
  pointer-events: all;
  color: #00FFFF;
  font-size: 13px;
  text-align: center;
}

.BattleProcessMode__settingsButton {
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../gui/images/settings-2.svg);
  pointer-events: all;
  will-change: filter;
  transition: ease filter 200ms;
}

.BattleProcessMode__settingsPopup {
  position: absolute;
  right: 20px;
  top: 60px;
  pointer-events: all;
}
