.BasePopup {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: all;
}

.BasePopup__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.BasePopup__box {
  width: var(--base-popup-width, 340px);
  min-height: var(--base-min-height, 180px);
  margin: auto;
  padding: 10px;
  position: relative;
  z-index: 1;
  background-color: #000;
  border: 1px solid #00ffff;
  border-radius: 10px;
}

.BasePopup__box::before {
  content: '';
  display: block;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  position: absolute;
  left: -6px;
  top: -6px;
  z-index: -1;
  border: 1px solid #00ffff;
  border-radius: 14px;
  opacity: 0.3;
}

.BasePopup__close {
  width: 14px;
  height: 14px;
  padding: 0;
  position: absolute;
  right: 12px;
  top: 12px;
  border: none;
  background-color: transparent;
  background-image: url(../gui/images/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.BasePopup__head {
  padding: 4px 0 12px;
  border-bottom: 1px solid rgba(0, 255, 255, 0.5);
}

.BasePopup__title {
  color: #00ffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
}

.BasePopup__body {
  padding: var(--base-popup-padding, 16px);
}

