.DuelMenu__container {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 2%;
    width: 100%;
    bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 2;
    pointer-events: all;
    transform: scale(0.9);
  }
  
  .DuelMenu {
    width: 100%;
    max-width: 410px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .DuelMenu__previous {
    position: absolute;
    top: 5%;
    left: 13%;
  }
  
  .DuelMenu__previous:hover {
    cursor: pointer;
  }

  .DuelMenu__title {
    position: absolute;
    top: 2%;
    font-size: 30px;
    /* font-size: 28px; */
    text-align: center;
    text-transform: uppercase;
    color: #112A5E;
  }
  
  .DuelMenu__close {
    position: absolute;
    top: 3.5%;
    right: 13%;
    color: #112A5E;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    background-image: url("../gui/images/user-inventory/inventory/close.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }

  .DuelMenu__close:hover {
    cursor: pointer;
  }
  
  .DuelMenu img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .DuelMenu__items {
    position: absolute;
    width: 80%;
    height: 74%;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }

  .DuelMenu__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid ;
    border-color: #00FFFF;
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    height: 26%;
  }
  
  .DuelMenu__link-text {
    color: #00FFFF;
    font-size: 15px;
  }

  .DuelMenu__link-copy {
    height: 100%;
    transition: all 0.2s ease;
  }

  .DuelMenu__link-copy:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .DuelMenu__link-copy:active {
    transform: scale(0.95);
  }

  .DuelMenu__animation {
    width: 100%;
    height: 74%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .DuelMenu__button {
    /* background: linear-gradient(360deg, #00C6FB 0%, #005BEA 100%);  */
    box-shadow: 
    0px 0px 13.5px rgba(0, 94, 234, 1), 
    0px 0px 27px rgba(0, 94, 234, 1),  
    0px 0px 94.5px rgba(0, 94, 234, 1),
    0px 0px 189px rgba(0, 94, 234, 1), 
    0px 0px 324px rgba(0, 94, 234, 1), 
    0px 0px 567px rgba(0, 94, 234, 1);
    text-align: center;
    background-color: rgba(0, 94, 234, 0.8);
    width: 86%;
    height: 50%;
    z-index: 3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 50px;
    transition: transform 0.3s ease;
  }

  .DuelMenu__button:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  .DuelMenu__button-text {
    font-style: normal;
    font-size: 32px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
  }
  
  .DuelMenu__button-animation {
    width: 88.2%;
    height: 49.6%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1,1);
    transform-origin: center;
    opacity: 1;
    z-index: 1;
    animation: zoomOut 6s infinite forwards linear;
  }
  
  .DuelMenu__button-animation img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  @keyframes zoomOut {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1,1);
    }
  
    50% {
        transform: translate(-50%, -50%) scale(1.1,1.2);
        opacity: 0.5;
    }
    to {
      opacity: 0;
      transform: translate(-50%, -50%) scale(1.2,1.4);
  }
  }
  .DuelMenu__button-animation:nth-child(1) {
    animation-delay: calc(1000ms * -10);
  }
  
  .DuelMenu__button-animation:nth-child(2) {
    animation-delay: calc(1000ms * -9);
  }
  
  .DuelMenu__button-animation:nth-child(3) {
    animation-delay: calc(1000ms * -8);
  }
  
  .DuelMenu__button-animation:nth-child(4) {
    animation-delay: calc(1000ms * -7);
  }
  
  .DuelMenu__button-animation:nth-child(5) {
    animation-delay: calc(1000ms * -6);
  }
  
  .DuelMenu__button-animation:nth-child(6) {
    animation-delay: calc(1000ms * -5);
  }
  
  .DuelMenu__button-animation:nth-child(7) {
    animation-delay: calc(1000ms * -4);
  }
  
  .DuelMenu__button-animation:nth-child(8) {
    animation-delay: calc(1000ms * -3);
  }
  
  .DuelMenu__button-animation:nth-child(9) {
    animation-delay: calc(1000ms * -2);
  }
  
  .DuelMenu__button-animation:nth-child(10) {
    animation-delay: calc(1000ms * -1);
  }
  
  .DuelMenu__button-animation:nth-child(11) {
    animation-delay: calc(1000ms * 0);
  }
  
  .DuelMenu__button-animation:nth-child(12) {
    animation-delay: calc(1000ms * 1);
  }
  
  .DuelMenu__button-animation:nth-child(13) {
    animation-delay: calc(1000ms * 2);
  }
  
  .DuelMenu__button-animation:nth-child(14) {
    animation-delay: calc(1000ms * 3);
  }
  
  .DuelMenu__button-animation:nth-child(15) {
    animation-delay: calc(1000ms * 4);
  }
  
  .DuelMenu__button-animation:nth-child(16) {
    animation-delay: calc(1000ms * 5);
  }
  
  .DuelMenu__button-animation:nth-child(17) {
    animation-delay: calc(1000ms * 6);
  }
  
  .DuelMenu__button-animation:nth-child(18) {
    animation-delay: calc(1000ms * 7);
  }
  
  .DuelMenu__button-animation:nth-child(19) {
    animation-delay: calc(1000ms * 8);
  }
  
  .DuelMenu__button-animation:nth-child(20) {
    animation-delay: calc(1000ms * 9);
  }
  
  .DuelMenu__button-animation:nth-child(21) {
    animation-delay: calc(1000ms * 10);
  }
  
  .DuelMenu__button-animation:nth-child(22) {
    animation-delay: calc(1000ms * 11);
  }
  
  .DuelMenu__button-animation:nth-child(23) {
    animation-delay: calc(1000ms * 12);
  }
  
  .DuelMenu__button-animation:nth-child(24) {
    animation-delay: calc(1000ms * 13);
  }
  
  .DuelMenu__button-animation:nth-child(25) {
    animation-delay: calc(1000ms * 14);
  }
  
  .DuelMenu__button-animation:nth-child(26) {
    animation-delay: calc(1000ms * 15);
  }
  
  .DuelMenu__button-animation:nth-child(27) {
    animation-delay: calc(1000ms * 16);
  }
  
  .DuelMenu__button-animation:nth-child(28) {
    animation-delay: calc(1000ms * 17);
  }
  
  .DuelMenu__button-animation:nth-child(29) {
    animation-delay: calc(1000ms * 18);
  }
  
  .DuelMenu__button-animation:nth-child(30) {
    animation-delay: calc(1000ms * 19);
  }
  
  
  @media (max-width: 430px) {
    .DuelMenu__container {
      transform: scale(0.9);
    }
  
    .DuelMenu__title {
      font-size: 24px;
    }

    .DuelMenu__button-text {
      font-size: 28px;
    } 
  }

  @media (max-height: 667px) and (min-width: 501px) {
    .DuelMenu__container {
      transform: scale(0.7);
      bottom: -30px;
    }
  }