.WelcomeMode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  z-index: 2;
  background-color: #040310;
  background-image: url(../gui/images/background.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.WelcomeScene__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  margin:2%;
  position: relative;
  overflow: hidden;
  /* box-shadow: inset 0 0 20px #1B2FC0, 0 0 33.69px #1B2FC0;  */
  
}

.WelcomeScene__logo > img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  z-index: 5;
}

.WelcomeScene__animation {
  display: flex;
  align-items: center;
  justify-content: center;
  width:70%;
  height: 56%;
  position: absolute;
  overflow: hidden;
}

.WelcomeScene__button-animation {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.7);
  transform-origin: center;
  opacity: 1;
  z-index: 1;
  /* overflow: hidden; */
  animation: zoomOut 6s infinite forwards linear;
}

.WelcomeScene__button-animation img {
   width: 100%;
   height: 100%;
}


@keyframes zoomOut {
  from {
      opacity: 1;
      transform: translate(-50%, -50%) scale(0.7);
  }

  50% {
      transform: translate(-50%, -50%) scale(1.2);
      opacity: 0;
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
}
}
.WelcomeScene__button-animation:nth-child(1) {
  animation-delay: calc(400ms * -1);
}

.WelcomeScene__button-animation:nth-child(2) {
  animation-delay: calc(400ms * 0);
}

.WelcomeScene__button-animation:nth-child(3) {
  animation-delay: calc(400ms * 1);
}

.WelcomeScene__button-animation:nth-child(4) {
  animation-delay: calc(400ms * 2);
}

.WelcomeScene__button-animation:nth-child(5) {
  animation-delay: calc(400ms * 3);
}

.WelcomeScene__button-animation:nth-child(6) {
  animation-delay: calc(400ms * 4);
}

.WelcomeScene__button-animation:nth-child(7) {
  animation-delay: calc(400ms * 5);
}

.WelcomeScene__button-animation:nth-child(8) {
  animation-delay: calc(400ms * 6);
}

.WelcomeScene__button-animation:nth-child(9) {
  animation-delay: calc(400ms * 7);
}

.WelcomeScene__button-animation:nth-child(10) {
  animation-delay: calc(400ms * 8);
}

.WelcomeScene__button-animation:nth-child(11) {
  animation-delay: calc(400ms * 9);
}

.WelcomeScene__button-animation:nth-child(12) {
  animation-delay: calc(400ms * 10);
}

.WelcomeScene__button-animation:nth-child(13) {
  animation-delay: calc(400ms * 11);
}

.WelcomeScene__button-animation:nth-child(14) {
  animation-delay: calc(400ms * 12);
}

.WelcomeScene__button-animation:nth-child(15) {
  animation-delay: calc(400ms * 13);
}

.WelcomeScene__button-animation:nth-child(16) {
  animation-delay: calc(400ms * 14);
}

.WelcomeScene__button-animation:nth-child(17) {
  animation-delay: calc(400ms * 15);
}

.WelcomeScene__button-animation:nth-child(18) {
  animation-delay: calc(400ms * 16);
}

.WelcomeScene__button-animation:nth-child(19) {
  animation-delay: calc(400ms * 17);
}

.WelcomeScene__button-animation:nth-child(20) {
  animation-delay: calc(400ms * 18);
}

.WelcomeScene__button-animation:nth-child(21) {
  animation-delay: calc(400ms * 19);
}

.WelcomeScene__button-animation:nth-child(22) {
  animation-delay: calc(400ms * 20);
}

.WelcomeScene__button-animation:nth-child(23) {
  animation-delay: calc(400ms * 21);
}

.WelcomeScene__button-animation:nth-child(24) {
  animation-delay: calc(400ms * 22);
}

.WelcomeScene__button-animation:nth-child(25) {
  animation-delay: calc(400ms * 23);
}

.WelcomeScene__button-animation:nth-child(26) {
  animation-delay: calc(400ms * 24);
}

.WelcomeScene__button-animation:nth-child(27) {
  animation-delay: calc(400ms * 25);
}

.WelcomeScene__button-animation:nth-child(28) {
  animation-delay: calc(400ms * 26);
}

.WelcomeScene__button-animation:nth-child(29) {
  animation-delay: calc(400ms * 27);
}

.WelcomeScene__button-animation:nth-child(30) {
  animation-delay: calc(400ms * 28);
}
  
.WelcomeScene__start-button {
  width: 70%;
  background-color: rgba(2, 86, 197, 0.5);
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 15;
  position: relative;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 30px 10px rgba(2, 86, 197, 1.7);
}

.WelcomeScene__start-button > div {
  position:absolute;
}

.WelcomeScene__start-button > img {
  width: 100%;

}

.WelcomeScene__start-button:hover {
  opacity: 0.98;
  transform: scale(1.05);
}

.WelcomeScene__start-button-title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.WelcomeScene__start-button-description {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #00FFFF;
}

.WelcomeScene__caution {
  position: absolute;
  top: 74%;
  z-index: -1;
}

.WelcomeScene__caution p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.WelcomeScene__caution a {
  color: #00f0ff;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  text-shadow: 0px 0px 20px #000000;
  line-height: 1.38;
  pointer-events: all;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 375px)
{
  .WelcomeScene__start-button-title {
    font-size: 38px;   
  }

  .WelcomeScene__caution p {
    font-size: 14px;
  }

  .WelcomeScene__caution a {
    font-size: 14px;
  }

}
@media (max-height: 580px) 
{
  .WelcomeScene__start-button-title {
    font-size: 28px;   
  }

  .WelcomeScene__caution p {
    font-size: 10px;
  }

  .WelcomeScene__caution a {
    font-size: 10px;
  }
}

