.StartGameBotButton {
  width: 100px;
  height: 60px;
  padding: 0;
  background-image: url(../gui/images/start-game-button.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  color: #00f0ff;
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
