.StarDefenderProcess {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.StarDefenderProcess__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.StarDefenderProcess__connectLine {
  width: 38px;
  height: 48px;
  position: relative;
}

.StarDefenderProcess__content {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  width: 200px;
}

.StarDefenderProcess__bg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  pointer-events: all;
}

.StarDefenderProcess__name {
  position: absolute;
  top: 4%;
  font-size: 15px;
  color: black;
}

.StarDefenderProcess__search {
   display: flex;
   flex-direction: column;
   gap: 4px;
   justify-content: center;
   position: absolute;
}

.StarDefenderProcess__title {
  font-size: 16px;
  color: #00FFFF;
  text-shadow: 0px 0px 483.84px #00FFFF, 0px 0px 276.48px #00FFFF, 0px 0px 161.28px #00FFFF, 0px 0px 80.64px #00FFFF, 0px 0px 23.04px #00FFFF, 0px 0px 11.52px #00FFFF;
}

.StarDefenderProcess__title:hover {
  cursor: pointer;
}

.StarDefenderProcess__online {
  position: absolute;
  bottom: 3%;
  font-size: 12px;
  color: white;
}
  
  .StarDefenderProcess__loading {
    display: flex;
    padding-right: 3px;
    padding-left: 3px;
    justify-content: space-between;
  }
  
  .StarDefenderProcess__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: relative;
    transition: ease opacity 200ms;
    background-color: #00FFFF;
    opacity: 0.5;
    /* box-shadow: inset 0px 0px 7px #00FFFF; */

  }
  
  .StarDefenderProcess__dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: currentColor;
    box-shadow: 0 0 6px currentColor;
    opacity: 0;
    transition: ease opacity 200ms;
  }
  
  .StarDefenderProcess__dot.is-active {
    opacity: 1;
    box-shadow: 0px 0px 10px #00FFFF;

  }
  
  .StarDefenderProcess__dot.is-disabled {
    opacity: 0.5;
  }
  
  .StarDefenderProcess__dot.is-disabled::after {
    opacity: 0;
  }

  @media (max-width: 430px) {
    .StarDefenderProcess {
        transform: scale(0.8);
    }
}

@media (max-height: 667px) and (min-width: 501px) {
  .StarDefenderProcess {
    transform: scale(0.7);
  }
}

