.PlayerModel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 190px;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: all;
}

.PlayerModel img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.PlayerModel__pic {
    height: 84%;
    top: 5%;
    position: absolute;
    z-index: -1;
}

.PlayerModel__info {
    position: absolute;
    z-index: 2;
    height: 26.8%;
    top: 67%;
}

.PlayerModel__info:hover {
    cursor: pointer;
}
