.BattleItemCard {
  --base-popup-padding: 0;
  top: -76px
}

.BattleItemCard__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 24px;
  padding-bottom: 12px;
  color: #fff;
}

.BattleItemCard__row {
   display: flex;
   align-items: center;
   gap: 15px;
}

.BattleItemCard__preview {
  width:72px;
  height: 72px;
}

.BattleItemCard__gold {
  color: #F9EB21;
  font-size: 22px;
  text-transform: uppercase;
}

.BattleItemCard__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid #00FFFF;
}

.BattleItemCard__title {
  color: #F9EB21;
  margin-top: 16px;
  font-size: 22px;
  text-transform: uppercase;
}

.BattleItemCard__text {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.BattleItemCard__buybutton {
  max-width: 120px;
  margin-top: 12px;
  padding: 8px;
  border: none;
  background-color: #00FFFF;
  color: #000;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease 200ms transform;
  will-change: transform;
}

.BattleItemCard__sellbutton {
  max-width: 120px;
  margin-top: 12px;
  padding: 8px;
  border: none;
  background-color: #F9EB21;
  color: #000;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease 200ms transform;
  will-change: transform;
}

.BattleItemCard__buybutton:hover {
  transform: scale(1.04);
}

.BattleItemCard__buybutton:active {
  transform: scale(1);
}

.BattleItemCard__sellbutton:hover {
  transform: scale(1.04);
}

.BattleItemCard__sellbutton:active {
  transform: scale(1);
}
