.StarDefenderButton {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.StarDefenderButton__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.StarDefenderButton__content-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.StarDefenderButton__content-box-title {
    position: absolute;
    top: 5%;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.StarDefenderButton__content-box-name {
  pointer-events: all;
    position: absolute;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #00FFFF;
    text-shadow: 0px 0px 483.84px #00FFFF, 0px 0px 276.48px #00FFFF, 0px 0px 161.28px #00FFFF, 0px 0px 80.64px #00FFFF, 0px 0px 23.04px #00FFFF, 0px 0px 11.52px #00FFFF;
}

.StarDefenderButton__content-search {
    position: absolute;
    gap:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.StarDefenderButton__content-box-online {
    position: absolute;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    bottom: 4%;
    transition: opacity 0.3 ease;
}

.StarDefenderButton__content-box-name:hover {
    cursor: pointer;
    opacity: 0.9;

}

.StarDefenderButton__content-connect-line {
    position: absolute;
    top: 102%;
    left: 50%;
}

.StarDefenderButton__label {
    /* font-weight: 600; */
    font-size: 16px;
    line-height: 1.1;
    color: #00FFFF;
    text-transform: uppercase;
  }
  
  