.StarDefenderButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.StarDefenderButton__container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* transition: all 0.08s linear; */
    z-index: 1;
}

.StarDefenderButton__connectLine {
    width: 38px;
    height: 48px;
    position: relative;
}

.StarDefenderButton__content {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    width: 200px;
}

.StarDefenderButton__bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 5; */
    pointer-events: all;
}

.StarDefenderButton__name {
    position: absolute;
    top: 4%;
    font-size: 15px;
    color: black;
}

.StarDefenderButton__title {
    position: absolute;
    font-size: 16px;
    color: #00FFFF;
    text-shadow: 0px 0px 483.84px #00FFFF, 0px 0px 276.48px #00FFFF, 0px 0px 161.28px #00FFFF, 0px 0px 80.64px #00FFFF, 0px 0px 23.04px #00FFFF, 0px 0px 11.52px #00FFFF;
    z-index: 10;
    pointer-events: all;
}

.StarDefenderButton__title:hover {
    cursor: pointer;
}

.StarDefenderButton__online {
    position: absolute;
    bottom: 3%;
    font-size: 12px;
    color: white;
}

@media (max-width: 430px) {
    .StarDefenderButton {
        transform: scale(0.8);
    }
}



  