.ModelControl {
    display: flex;
    width: 23%;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    position: relative;
    color: #005EEA;
    outline: none;
    user-select: none;
    z-index: 1;
    pointer-events: none;
  }

  .ModelControl__img {
    position: absolute;
    width: 82%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
  }

  .ModelControl__level {
    position: absolute;
    top: 70%;
    color: #112A5E;
    font-size: 11px;
  }

  .ModelControl__shop {
    pointer-events: all;
    position: absolute;
    width: 100%;
    top: -43%;
    text-align: center;
    z-index: 2;
  }

  .ModelControl__shop-name {
    position: absolute;
    top: 30%;
    font-size: 14px;
    color: #F9EB20;
    text-align: center;
    width: 100%;
  }

  .ModelControl__progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 4%;
    transition: ease transform 200ms;
    will-change: transform;
  }

  .ModelControl__boxshadow {
    position: absolute;
    width: 90%;
    height: 75%;
    box-shadow: 
    0px 0px 4px rgba(0, 93, 234, 0.9),    /* Small shadow all around */
    0px 0px 16px rgba(0, 93, 234, 0.9),   /* Larger shadow all around */
    0px 0px 30px rgba(0, 93, 234, 0.9),   /* Larger shadow all around */
    0px 0px 60px rgba(0, 93, 234, 0.9),   /* Even larger shadow */
    0px 0px 120px rgba(0, 93, 234, 0.9),  /* Very large shadow */
    0px 0px 200px rgba(0, 93, 234, 0.9);  /* Extra large shadow */
    z-index: -1;
    border-radius: 50%;
  }

  @media (max-width:375px) {
    .ModelControl__shop-name {
        font-size: 12px;
    }
  }
  
  
