.PreGameCountdown {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    pointer-events: none;
    background-image: url(../gui/images/background.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.PreGameCountdown img {
  object-fit: contain;
}

.PreGameCountdown__title {
    height: 13%;
    margin-top: 10px;
    margin-bottom: 46px;
    animation: fadeInOut 3s infinite ease-in-out;
}

.title-image {
    width: 100%;
    height: auto;
    animation: scaleUp 1s infinite alternate;
}

@keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @keyframes scaleUp {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }


.PreGameCountdown__player {
    height: calc(23.5% + 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.PreGameCountdown__player-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px);
    width: 80%;
    z-index: 3;
}

.PreGameCountdown__player-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.PreGameCountdown__player-shadow{
  position: absolute;
  width: 70%;
  height: 55%;
  border-radius: 50%;
  box-shadow: 
    0px 0px 4px rgba(0, 93, 234, 0.5),    /* Small shadow all around */
    0px 0px 16px rgba(0, 93, 234, 0.5),   /* Larger shadow all around */
    0px 0px 30px rgba(0, 93, 234, 0.5),   /* Larger shadow all around */
    0px 0px 60px rgba(0, 93, 234, 0.5),   /* Even larger shadow */
    0px 0px 120px rgba(0, 93, 234, 0.5),  /* Very large shadow */
    0px 0px 200px rgba(0, 93, 234, 0.5);  /* Extra large shadow */
    z-index: -1;
  z-index: -1;

}

.PreGameCountdown__player-name {
    font-size: 16px;
    color: white;
}



