.startScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #040310;
  background-image: url(./images/background.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.startScreen__logo {
  width: 440px;
  height: 320px;
  background-image: url(./images/preloader/logo.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.startScreen__logo-text {
  width: 284px;
  height: 92px;
  margin-top: 48px;
  background-image: url(./images/preloader/logo-text.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.startScreen__text {
  max-width: 640px;
  margin: 48px 0;
  color: #00f0ff;
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  text-shadow: 0px 0px 20px #000000;
  line-height: 1.38;
  pointer-events: all;
}

.startScreen__button {
  margin-top: 26px;
  padding: 2px 0 3px;
  position: relative;
  z-index: 0;
  background-color: transparent;
  border: none;
  color: #00f0ff;
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px #000000;
  line-height: 1.12;
  pointer-events: all;
  cursor: pointer;
  transition: ease 200ms transform;
  will-change: transform;
}

.startScreen__button.active {
  padding-left: 48px;
  padding-right: 48px;
  background-image: linear-gradient(
    90deg,
    #000000 0%,
    rgba(0, 0, 0, 0) 50%,
    #000000 100%
  );
  font-size: 24px;
}

.startScreen__button.active::before,
.startScreen__button.active::after {
  content: "";
  display: block;
  width: 80px;
  height: 194%;
  position: absolute;
  left: -28px;
  top: 50%;
  background-image: url(./images/preloader/button-edge.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

.startScreen__button.active::after {
  left: auto;
  right: -28px;
  transform: translateY(-50%) scaleX(-1);
}

.startScreen__button + .startScreen__button {
  margin-top: 16px;
}

.startScreen__button:hover {
  transform: scale(1.05);
}

.startScreen__button:active {
  transform: scale(1);
}

.startScreen__checkbox {
  display: flex;
  align-items: center;
  margin-top: 32px;
  position: relative;
  z-index: 0;
  color: #00f0ff;
  font-family: "Exo 2";
  font-weight: 500;
  font-size: 22px;
  line-height: 1.21;
  text-shadow: 0px 0px 20px #000000;
  pointer-events: all;
  cursor: pointer;
}

.startScreen__checkbox-field {
  width: 26px;
  height: 26px;
  opacity: 0;
  margin-right: 12px;
}

.startScreen__checkbox-label::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 2px;
  background-color: #352f44;
  border: 2px solid #00f0ff;
  border-radius: 10px;
}

.startScreen__checkbox-label::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 4px;
  top: 6px;
  background-image: url(./images/check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  transform: scale(0);
  transition: ease 200ms opacity;
}

.startScreen__checkbox-field:checked + .startScreen__checkbox-label::after {
  transform: scale(1);
}
